In [1]:
import os
import pandas as pd
import netCDF4
from netCDF4 import Dataset

In [2]:
def load_cdf_file_as_dataframe(file):
    nc = netCDF4.Dataset(file)
    
    sst = nc.variables['sea_surface_temperature'][0].data
    lat = nc.variables['lat'][:].data
    lon = nc.variables['lon'][:].data
    
    # collect column names in a dictionary
    d = {}
    for col in lon[:].data:
        d[col] = []
        
    # create dataframe using dictionary
    df = pd.DataFrame(d)
    
    # insert rows of sea surface temperature into dataframe
    for i, row_index in enumerate(lat[:].data):
        df.loc[i] = sst[i]
        
    # set each row's index as its corresponding latitude
    df.index = lat[:].data
    
    return df

In [3]:
df = load_cdf_file_as_dataframe('./data/20160702134026-NCEI-L3C_GHRSST-SSTskin-AVHRR_Pathfinder-PFV5.3_NOAA19_G_2016184_day-v02.0-fv01.0.nc')

In [4]:
df.head()

,-179.9791717529297,-179.9375,-179.89584350585938,-179.8541717529297,-179.8125,-179.77084350585938,-179.7291717529297,-179.6875,-179.64584350585938,-179.6041717529297,...,179.60415649414062,179.6458282470703,179.6875,179.72915649414062,179.7708282470703,179.8125,179.85415649414062,179.8958282470703,179.9375,179.97915649414062
89.979172,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,...,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0
89.937500,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,...,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0
89.895836,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,...,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0
89.854172,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,...,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0
89.812500,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,...,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0,-32768.0

In [5]:
df.describe()

,-179.9791717529297,-179.9375,-179.89584350585938,-179.8541717529297,-179.8125,-179.77084350585938,-179.7291717529297,-179.6875,-179.64584350585938,-179.6041717529297,...,179.60415649414062,179.6458282470703,179.6875,179.72915649414062,179.7708282470703,179.8125,179.85415649414062,179.8958282470703,179.9375,179.97915649414062
count,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,...,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000,4320.000000
mean,-6543.191366,-2764.522544,-1958.436683,-1854.331192,-1777.546785,-1737.860514,-1715.687435,-1683.699528,-1668.457981,-1662.241676,...,-2031.822898,-2015.958815,-2029.723919,-2028.148597,-2042.472162,-2026.164991,-2069.621789,-2084.295306,-3075.722463,-6575.573701
std,13173.226700,9241.880117,7929.046408,7732.179000,7588.121855,7515.070576,7470.413058,7410.895429,7380.740321,7365.287522,...,8004.287461,7977.192479,8004.815974,8005.220736,8032.589183,8005.722765,8087.346293,8114.270305,9645.779263,13185.402140
min,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,...,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000,-32768.000000
25%,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,...,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000,-300.000000
50%,-183.000000,275.660000,276.130000,276.130000,276.415000,276.230000,276.295000,276.060000,276.060000,276.150000,...,272.875000,272.990000,272.995000,273.170000,273.380000,273.380000,273.475000,273.620000,272.960000,-241.000000
75%,287.600000,290.875000,290.902500,291.150000,290.915000,291.092500,290.972500,291.165000,291.112500,290.745000,...,290.432500,290.505000,290.492500,290.525000,290.560000,290.652500,290.482500,290.592500,290.372500,288.472500
max,304.620000,304.540000,304.440000,304.370000,304.480000,304.220000,304.280000,304.340000,304.410000,304.090000,...,304.080000,303.790000,304.180000,303.870000,303.950000,304.010000,303.490000,304.200000,304.530000,304.380000

In [7]:
df.to_csv('./data_processed/20160702134026_data.csv')

In [8]:
df.head(10).to_csv('./data_processed/sample_20160702134026_data.csv')